body {
    margin: 0;
    background-color: #E4FDE1;
}

header {
    border: 1px solid black;
    text-align: center;
    background-color: #114B5F;
    color: #fff;
}

#tableContainer {
    margin: 5px;
    background-color: #6B2737;
    color: #fff;
}

#inputContainer {
    margin: 5px;
}

th, td {
    border: 2px solid #114B5F;
}

thead {
    background-color: #456990;
}

tbody {
    background-color: #fff;
    color: #000;
}

p {
    margin-left: 70%;
}